[Desktop Entry]
Type=Application
Version=1.0
Name=ToolBox
GenericName=Terminal Applications
GenericName[ca]=Aplicaciones de terminal
GenericName[de]=Terminalanwendungen
GenericName[en_GB]=Terminal Applications
GenericName[es]=Aplicaciones de terminal
GenericName[fi]=Päätesovellukset
GenericName[fr]=Applications de terminal
GenericName[gl]=Aplicaciones de terminal
GenericName[it]=Applicazioni terminali
GenericName[ko]=터미널 어플리케이션
GenericName[nb]=Terminal applikasjoner
GenericName[nl]=Terminal-toepassingen
GenericName[nn]=Terminal applikasjoner
GenericName[pl]=Aplikacje terminalowe
GenericName[pt]=Aplicações terminais
GenericName[pt_BR]=Aplicações terminais
GenericName[ru]=Терминальные приложения
GenericName[sk]=Terminálne aplikácie
GenericName[sl]=Terminalne aplikacije
GenericName[sr@ijekavian]=Терминал Апплицатионс
GenericName[sr]=Терминал Апплицатионс
GenericName[sv]=Terminalapplikationer
GenericName[tr]=Terminal Uygulamaları
GenericName[uk]=Термінальні програми
GenericName[zh_CN]=终端应用
GenericName[zh_TW]=終端應用
Comment=Collection Of Terminal Applications In A Simple UI
Comment[ca]=Col·lecció d'aplicacions del terminal en una interfície d'interès simple
Comment[de]=Sammlung von Terminalanwendungen in einer einfachen Benutzeroberfläche
Comment[en_GB]=Collection Of Terminal Applications In A Simple UI
Comment[es]=Colección de aplicaciones de terminal en una interfaz de usuario simple
Comment[fi]=Kokoelma päätesovelluksia yksinkertaisessa käyttöliittymässä
Comment[fr]=Collection d'applications de terminaux dans une interface utilisateur simple
Comment[gl]=Colección de aplicacións de terminais nunha interface de usuario sinxela
Comment[it]=Raccolta di applicazioni terminali in una semplice interfaccia utente
Comment[ko]=간단한 UI에서 터미널 응용 프로그램 모음
Comment[nb]=Innsamling av terminalapplikasjoner i et enkelt brukergrensesnitt
Comment[nl]=Verzameling van terminaltoepassingen in een eenvoudige gebruikersinterface
Comment[nn]=Innsamling av terminalapplikasjoner i et enkelt brukergrensesnitt
Comment[pl]=Zbiór aplikacji terminalowych w prostym interfejsie użytkownika
Comment[pt]=Coleção de aplicativos de terminal em uma interface simples
Comment[pt_BR]=Coleção de aplicativos de terminal em uma interface simples
Comment[ru]=Коллекция терминальных приложений в простом интерфейсе
Comment[sk]=Zbierka terminálových aplikácií v jednoduchom používateľskom rozhraní
Comment[sl]=Zbirka aplikacij terminalov v preprostem uporabniškem vmesniku
Comment[sr@ijekavian]=Колекција терминалних апликација у једноставном корисничком сучељу
Comment[sr]=Колекција терминалних апликација у једноставном корисничком сучељу
Comment[sv]=Samling av terminalapplikationer i ett enkelt användargränssnitt
Comment[tr]=Basit Bir Kullanıcı Arabiriminde Terminal Uygulamalarının Toplanması
Comment[uk]=Колекція додатків терміналів у простому інтерфейсі
Comment[zh_CN]=在简单的UI中收集终端应用程序
Comment[zh_TW]=在簡單的UI中收集終端應用程序
Icon=toolbox
Exec=toolbox
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task

